/* Menu */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    z-index: 1000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}


nav {
    display: flex;
    justify-content: space-between;
}

#buttonn {
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 0px rgb(139, 113, 255);
    transition-duration: .3s;
    margin-top: 15px;
}

.cartIcon {
    width: 14px;
    height: fit-content;
}

.cartIcon path {
    fill: white;
}

#buttonn:active {
    transform: translate(2px, 0px);
    box-shadow: 0px 1px 0px rgb(139, 113, 255);
    padding-bottom: 1px;
}

.button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
}

.button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}


body {
    padding-top: 60px;
}


#menu_izquierda h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

#menu_medio button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#menu_medio button a {
    color: inherit;
    text-decoration: none;
}

/* main */
main {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    cursor: pointer;
}

.container input {
    display: none;
}

.container svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.container input:checked~svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}


/* img */
.section-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
}

.section-image img {
    display: block;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}

.section-image:after {
    content: "";
    display: block;
    padding-bottom: 70%;
}

/* catalogo */
.section-menu {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    flex: 0 0 20%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(5px);
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.catalogo {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    width: calc(33% - 20px);
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.897);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.producto p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

@media (max-width: 768px) {

    .section-menu {
        flex-direction: column;
    }

    .menu {
        width: 100%;
    }

    .producto {
        width: 100%;
    }
}


/* footer */

footer {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    color: #6c757d;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_izquierda,
#footer_derecha {
    display: flex;
    flex-direction: column;
}

h2,
h3 {
    color: #343a40;
}

#footer_icon {
    display: flex;
    gap: 1rem;
}

#footer_icon img {
    width: 24px;
    height: 24px;
}

#footer_izquierda1,
#footer_derecha2 {
    flex: 1;
}

#footer_izquierda1,
#footer_derecha2 {
    width: calc(50% - 40px);
}

#footer_izquierda1,
#footer_derecha2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
    background: #000000;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #7a21b6;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}